<section
  class="w-full flex flex-wrap md:justify-center text-left md:text-center bg-white py-40 px-10 md:px-24 font-sans"
>
  <div class="w-full max-w-3xl m-auto">
    <p class="text-xl text-left md:text-center mb-3 md:mb-5">Great updates</p>
    <h4 class="text-4xl md:text-5xl pb-8 md:pb-24 font-black">
      Try something totally different and cool right now.
    </h4>
    <div class="flex flex-wrap justify-center w-full mb-6">
      <input
        class="flex-1 md:max-w-md bg-white py-4 px-6 border w-full md:w-auto mb-3 md:mb-0"
        type="email"
        placeholder="Username or email"
      />
      <button
        class="py-4 px-8 bg-yellow-500 text-white rounded md:ml-4 w-full md:w-auto"
        type="button"
      >
        Subscribe
      </button>
    </div>
    <p class="text-xs">
      Attentiion! Offer expires in 30 days. Make sure not to miss this
      opportunity
    </p>
  </div>
</section>
