<section
  class="grid gap-10 text-center sm:grid-cols-1 xl:text-left xl:grid-cols-4 xl:gap-24 xl:py-40 xl:px-32 text-gray-800 font-sans py-10 px-10 bg-white"
>
  <div class="col-span-1 max-w-2xl m-auto xl:max-w-auto">
    <h4 class="text-4xl font-black mb-5">
      Arranged in a way that reflects are
    </h4>
    <p class="text-lg leading-relaxed">
      The goal is to facilitate usability and efficiency as much as possible.
      Common elements found in interface design are action buttons, text fields,
      check boxes, radio buttons and drop-down
    </p>
  </div>
  <div
    class="relative col-span-1 xl:col-span-2 justify-center relative w-full h-full overflow-hidden min-h-96 xl:min-h-160 rounded"
  >
    <!--     <img class="absolute inset-0 w-full h-full object-center object-cover" src="https://images.unsplash.com/photo-1588058885747-5dccdd6d4319?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ" alt=""> -->
    <div class="absolute inset-0 w-full h-full bg-gray-900"></div>
  </div>
  <div class="xl:col-span-1 max-w-2xl m-auto xl:max-w-auto">
    <h4 class="text-4xl font-black mb-10">Unlike low fidelity wireframes</h4>
    <p class="text-lg leading-relaxed">
      The goal is to facilitate usability and efficiency as much as possible.
      Common elements found in interface design are action buttons, text fields,
      check boxes, radio buttons and drop-down
    </p>
  </div>
</section>
